/*--------------------
Form
--------------------*/
.form {
  .form-wrap {
    & > .grid {
      align-items: center;
      @include desktop {
        grid-template-columns: 330px 1fr;
        column-gap: 20px;
      }
      @include tablet {
        grid-template-columns: 280px 1fr;
        column-gap: 10px;
      }
      @include mobile {
        grid-template-columns: 1fr;
        row-gap: 10px;
      }
    }
    label {
      font-weight: 700;
      letter-spacing: 0.1rem;
      @include overTablet {
        font-size: 20px;
      }
      @include mobile {
        font-size: 16px;
      }
    }
  }
  fieldset {
    border: none;
    position: relative;
    font-size: 0;
    @include desktop {
      padding: 23px;
    }
    @include tablet {
      padding: 18px;
    }
    @include mobile {
      padding: 13px;
    }
    .c-error-alert {
      font-size: $xsmall-text-size;
    }
    
    input {
      width: 100%;
      color: $primary-color;
      border-radius: 5px;
      outline: none!important;
      border: 1px solid rgba(0, 0, 0, 0.3);
      vertical-align: top;
      @include desktop {
        height: 57px;
        padding: 16px 26px;
        font-size: $small-text-size;
      }
      @include tablet {
        height: 50px;
        padding: 12px 20px;
        font-size: $small-text-size;
      }
      @include mobile {
        height: 46px;
        padding: 8px 12px;
        font-size: $font-size-base;
      }
      &[type="text"] {
        &:focus {
          border-color: $secondary-color;
        }
        &.date-picker {
          width: 150px;
          position: relative;
          background-image: url("../images/icons/calendar.png");
          background-repeat: no-repeat;
          background-position: 119px 9px;
        }
      }
      &::placeholder {
        color: $place-holder-color;
      }
    }
    p, label, textarea, select {
      font-size: $font-size-base;
    }
    .checkbox {
      display: block;
      position: relative;
      cursor: pointer;
      padding-left: 25px;
      line-height: 20px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #fff;
        border: 1px solid $border-color;
        border-radius: 4px;
        &::after {
          content: "";
          position: absolute;
          display: none;
        }
      }
      &:hover {
        input:not(:disabled) ~ {
          .checkmark {
            background-color: #f5f5f5;
          }
        }
      }
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        &:checked ~ .checkmark {
          background-color: $secondary-color !important;
          border: none;
          &::after {
            display: block;
            left: 7px;
            top: 3px;
            width: 6px;
            height: 12px;
            border: solid #fff;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }
        }
      }
      &.u-disabled {
        cursor: context-menu;
      }
    }  
    .radio {
      display: block;
      position: relative;
      cursor: pointer;
      padding-left: 25px;
      line-height: 20px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #fff;
        border: 1px solid $border-color;
        border-radius: 50%;
        &::after {
          content: "";
          position: absolute;
          display: none;
        }
      }
      &:hover {
        input:not(:disabled) ~ {
          .checkmark {
            background-color: #f5f5f5;
          }
        }
      }
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        width: 0;
        height: 0;
        &:checked ~ .checkmark {
          background-color: #3E80DB !important;
          border: none;
          &::after {
            display: block;
            left: 2px;
            top: 2px;
            width: 16px;
            height: 16px;
            border: solid #fff;
            border-width: 2px;
            background-color: #3E80DB;
            border-radius: 50%;
          }
        }
      }
      &.u-disabled {
        cursor: context-menu;
      }
    }
    &.required {
      & > label {
        &.flex {
          @include overTablet {
            column-gap: 25px;
          }
          @include mobile {
            column-gap: 12px;
          }
        }
        span {
          @include overTablet {
            font-size: 14px;
          }
          @include mobile {
            font-size: 13px;
          }
          font-weight: 400;
          letter-spacing: 0.05rem;
          color: $secondary-color;
        }
      }
    }
    &.optional {
      label {
        &.flex {
          @include overTablet {
            column-gap: 25px;
          }
          @include mobile {
            column-gap: 12px;
          }
          span {
            @include overTablet {
              font-size: 14px;
            }
            @include mobile {
              font-size: 13px;
            }
            font-weight: 400;
            letter-spacing: 0.05rem;
            color: #D0D0D0;
          }
        }
      }
    }
  }
}
.c-input-error {
  border-color: $alert-color !important;
}
.c-error-alert {
  color: $alert-color;
}
label {
  display: block;
}
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #C9BFCA;
  position: relative;
  &:focus {
    outline: none;
    border-color: $secondary-color;
  }
  & ~ .c-letter-num {
    font-size: $xsmall-text-size !important;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
select {
  padding: 9px;
  border-radius: 5px;
  border: 1px solid $border-color;
  width: 100%;
  &:focus {
    outline: none;
    border-color: $secondary-color;
    background-color: #f2f7f7;
  }
  &:hover:not(:disabled) {
    border-color: $secondary-color;
    cursor: pointer;
  }
  @include desktop {
    height: 57px;
    padding: 16px 12px;
    font-size: $small-text-size;
  }
  @include tablet {
    height: 50px;
    padding: 12px;
    font-size: $small-text-size;
  }
  @include mobile {
    height: 46px;
    padding: 8px 12px;
    font-size: $font-size-base;
  }
}
.select-wrap {
  position: relative;
  display: block;
  height: auto;
  padding: 0;
  width: 100%;
  select {
    appearance: none;
    background-color: #fff;
    cursor: pointer;
  }
  span {
    height: auto;
    position: absolute;
    bottom: 0;
    left: auto;
    right: 0;
    top: 0;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    font-size: 12px;
  }
}

.login-pw-wrap {
  .toggle-eyes {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    &::before {
      font-size: 18px;
    }
  }
}


.ui-datepicker-calendar .day-sunday > a,
.ui-datepicker-calendar .day-holiday > a {
  background: #ffc0c0;
}
.ui-datepicker-calendar .day-saturday > a {
  background: #c0d0ff;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  background-color: #003eff !important;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  color: red;
}