.container {
  @include desktop {
    max-width: 1310px !important;
  }
}
.container-inner {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  @include desktop {
    margin-top: 45px;
  }
  @include tablet {
    margin-top: 36px;
  }
  @include mobile {
    margin-top: 25px;
  }
}
// .l-main {
//   min-height: calc(100vh - 64px);
// }
.m-top-btn-wrap {
  border-bottom: 1px solid #E2E2E2;
  padding-bottom: 25px;
  @include desktop {
    column-gap: 20px;
    row-gap: 15px;
    padding-top: 20px;
  }
  @include tablet {
    row-gap: 15px;
    column-gap: 15px;
    padding-top: 0px;
  }
  @include mobile {
    column-gap: 10px;
    row-gap: 10px;
    padding-top: 0px;
  }
  .outline-btn {
    @include mobile {
      padding: 8px 12px;
      font-size: 15px;
    }
    @media screen and (max-width: 400px) {
      font-size: 13px;
      padding: 7px 10px;
    }
  }
}
.main-col {
  @include desktop {
    margin-top: 48px;
  }
  @include tablet {
    margin-top: 40px;
  }
  @include mobile {
    margin-top: 30px;
  }
}

.signup-contents {
  @include underDesktop {
    max-width: calc(100% - 20px);
    margin-left: auto;
    margin-right: auto;
  }
}

.login-pw-wrap {
  @include overTablet {
    margin-top: 25px;
  }
  @include mobile {
    margin-top: 12px;
  }
}

._box-shadow {
  @include overTablet {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  }
  @include mobile {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  }
}

.pw-reset-text {
  font-weight: 500;
  color: #3E80DB;
}

.alert-box {
  .alert-text {
    @include overTablet {
      font-size: 20px;
      margin-top: 11px;
    }
    @include mobile {
      font-size: 17px;
      margin-top: 9px;
    }
  }
}

.login-form {
  max-width: 800px;
  min-height: 560px;
  margin-left: auto;
  margin-right: auto;
  @include overTablet {
    padding: 60px;
  }
  @include mobile {
    padding: 40px 14px;
  }
  .form{
    fieldset {
      padding: 0;
    }
  } 
  .pw-reset-text {
    @include overTablet {
      margin-top: 10px;
    }
    @include mobile {
      margin-top: 5px;
    }
  }
  .alert-box {    
    @include overTablet {
      margin-top: 35px;
    }
    @include mobile {
      margin-top: 27px;
    }
    &.alerted {
      @include overTablet {
        margin-top: 120px;
      }
      @include mobile {
        margin-top: 130px;
      }
    }
  }
}

.one-btn-wrap {
  text-align: center;
  @include overTablet {
    row-gap: 20px;
  }
  @include mobile {
    row-gap: 15px;
  }
}