@import "header-img";

.p-main-title {
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.05rem;
  @include desktop {
    font-size: 30px;
  }
  @include tablet {
    font-size: 28px;
  }
  @include mobile {
    font-size: 24px;
  }
}

.p-main-title-en {
  font-family: 'Noto Serif JP', sans-serif;
  font-weight: 600;
  color: #AEA6BC;
  letter-spacing: 0.1rem;
  @include overTablet {
    font-size: 20px;
    margin-top: 7px;
  }
  @include mobile {
    font-size: 14px;
    margin-top: 5px;
  }
}
.p-main-title-en-2 {
  font-family: 'Noto Serif JP', sans-serif;
  font-weight: 600;
  color: #AEA6BC;
  letter-spacing: 0.1rem;
  @include overTablet {
    font-size: 25px;
  }
  @include mobile {
    font-size: 20px;
  }
}
.p-article-title {
  letter-spacing: 0.05rem;
  font-weight: 500;
  @include overTablet {
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 8px;
  }
  @include mobile {
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  a {
    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
}
.p-main-desc {
  @include overTablet {
    font-size: 16px;
    margin-top: 10px;
  }
  @include mobile {
    font-size: 15px;
    margin-top: 5px;
  }
}

.p-sub-title {
  font-weight: 500;
  letter-spacing: 0.05rem;
  @include overTablet {
    font-size: 23px;
    column-gap: 15px;
    align-items: center;
  }
  @include mobile {
    font-size: 18px;
    column-gap: 10px;
    align-items: flex-start;
  }
  &:not(._w) img {
    @include mobile {
      width: 24px;
    }
  }
  span {
    @include mobile {
      margin-top: 3px;
    }
  }
}
.p-sub-title-2 {
  font-weight: 500;
  letter-spacing: 0.05rem;
  @include overTablet {
    font-size: 18px;
  }
  @include mobile {
    font-size: 16px;
  }
}

.p-section-title {
  font-family: 'Noto Serif JP', sans-serif;
  @include desktop {
    font-size: 38px;
    letter-spacing: 0.1rem;
  }
  @include tablet {
    font-size: 30px;
    letter-spacing: 0.05rem;
  }
  @include mobile {
    font-size: 20px;
    letter-spacing: 0.05rem;
  }
}

.two-btn-wrap {
  max-width: 745px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;  
  @include overTablet {
    column-gap: 67px;
    grid-template-columns: repeat(2, 1fr);
  }
  @include mobile {
    row-gap: 15px;
    grid-template-columns: auto;
  }
}

.caution-wrap {
  text-align: center;
  color: #AEA6BC;
  letter-spacing: 0.1rem;
  font-family: 'Noto Serif JP', sans-serif;
  font-weight: 600;
  .caution-mark {
    font-size: 76px;
    line-height: 89px;
  }
  .txt {
    font-size: 30px;
    line-height: 35px;
  }
}

.serviceVieModal {
  font-size: 20px;
  font-weight: 600;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  line-height: 30px;
  text-align: center;
  background-color: #fff;
  &._finish {
    color: $secondary-color;
    border-color: $secondary-color;
  }
  &._cancel {
    color: #8E8E8E;
    border-color: #8E8E8E;
  }
}

.custom_outline-btn {
  &.outline-btn {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    border-color: $secondary-color;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    @include overTablet {
      max-width: 339px;
      padding: 18px;
    }
    @include mobile {
      max-width: 270px;
      padding: 12px;
    }
  }
}

.latest-service-list {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 22px;
  width: 1110px;
  padding-bottom: 8px;
  .latest-service {
    border-radius: 6px;
    border: 1px solid #E2E2E2;
    overflow: hidden;
    & > div {
      @include overTablet {
        padding: 15px;
      }
      @include mobile {
        padding: 12px;
      }
    }
    & > a {
      background-color: #CBBFCB;
      color: #fff;
      font-size: 17px;
      padding: 7px;
      text-align: center;
      display: block;
      &:hover {
        text-decoration: none;
        background-color: #DBCCDD;
      }
    }
    .ttl-cat {
      grid-template-columns: 60px 1fr;
      column-gap: 26px;
      .cc-desc {
        font-size: 13px;
        letter-spacing: 0.05rem;
      }
      .title {
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.05rem;
      }
      & > .cat {
        p {
          font-size: 12px;
          color: #fff;
          background-color: #CBBFCB;
          border-radius: 2px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .cc-detail {
      grid-template-columns: 150px 1fr;
      column-gap: 20px;
      margin-top: 7px;
      .title {
        font-size: 16px;
        margin-bottom: 6px;
        letter-spacing: 0.05rem;
      }
      .desc {
        font-size: 13px;
        margin-top: 6px;
        letter-spacing: 0.05rem;
      }
      & > div {
        .grid {
          grid-template-columns: 150px 63px 1fr;
          column-gap: 10px;
          align-items: center;
          .price-time {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .price {
              font-size: 20px;
              letter-spacing: 0.05rem;
              line-height: 24px;
              margin-top: -3px;
            }
            .flex {
              span {
                background-color: #E3E3E3;
                border-radius: 2px;
                padding: 2px 4px;
              }
            }
          }
        }
      }
    }
  }
  .meta-tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    .meta-tag {
      border-radius: 10px;
      background-color: #F0F0F0;
      border: 1px solid #DDDDDD;
      letter-spacing: 0.05rem;
      padding: 1px 10px;
      font-size: 13px;
      line-height: 18px;
      color: $primary-color;
      a {
        &:hover {
          text-decoration: none;
          color: #B19D70;
        }
      }
    }
  }
}
.latest-service-wrap {
  .container {
    overflow-x: auto;
  }
}

.txt-a-b-link {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.05rem;
  a {
    color: #3E80DB;
    text-decoration: underline;
  }
}

.about-flow {
  @include overTablet {
    border: 5px solid #EEEFEE;
    padding: 35px;
  }
  @include mobile {
    border: 3px solid #EEEFEE;
    padding: 15px;
  }
  .ttl-sec {
    font-weight: 500;
    @include overTablet {
      column-gap: 18px;
      font-size: 22px;
    }
    @include mobile {
      font-size: 20px;
      column-gap: 12px;
    }
  }
  .desc {
    @include overTablet {
      font-size: 16px;
    }
  }
  .link-box {
    a {
      column-gap: 12px;
      @include overTablet {
        font-size: 18px;
      }
      @include mobile {
        font-size: 16px;
      }
      span {
        font-size: 12px;
        color: #CBBFCB;
      }
      &:hover {
        text-decoration: none;
        color: $secondary-color;
        span {
          color: $secondary-color;
        }
      }
    }
  }
}

p {
  &.required-2 {
    letter-spacing: 0.1rem;
    @include overTablet {
      font-size: 18px;
    }
    @include mobile {
      font-size: 15px;
    }
    span {
      font-size: 12px;
      color: #fff;
      letter-spacing: 0.05rem;
      background-color: $secondary-color;
      border-radius: 4px;
      @include overTablet {
        line-height: 27px;
        padding: 0 5px 2px;
      }
      @include mobile {
        line-height: 22px;
        padding: 0 4px 1px;
      }
    }
  }
  &.optional {
    letter-spacing: 0.1rem;
    @include overTablet {
      font-size: 18px;
    }
    @include mobile {
      font-size: 15px;
    }
    span {
      font-size: 12px;
      color: #fff;
      letter-spacing: 0.05rem;
      background-color: #C6C6C6;
      border-radius: 4px;
      @include overTablet {
        line-height: 27px;
        padding: 0 5px 2px;
      }
      @include mobile {
        line-height: 22px;
        padding: 0 4px 1px;
      }
    }
  }
}

.used-plan {
  background-color: #F8F8F8;
  @include overTablet {
    padding: 24px 34px 27px;
  }
  @include mobile {
    padding: 14px 12px 15px;
  }
  .used-plan-ttl {
    letter-spacing: 0.05rem;
    font-weight: 500;
    position: relative;
    @include overTablet {
      font-size: 20px;
    }
    @include mobile {
      font-size: 19px;
      padding-left: 10px;
    }
    &::before {
      content: '';
      background-color: #CBBFCB;
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      @include overTablet {
        width: 18px;
        height: 4px;
        left: -34px;
      }
      @include mobile {
        left: -12px;
        width: 15px;
        height: 3px;
      }
    }
  }
  .meta-tags {
    margin-top: 0;
  }
  & > .grid {
    @media screen and (min-width: 961px) {
      grid-template-columns: 1fr 395px;
      column-gap: 25px;
    }
    @media screen and (max-width: 960px) {
      grid-template-columns: auto;
      row-gap: 15px;
    }
    .descColumn {
      letter-spacing: 0.05rem;
      .note {
        @include overTablet {
          font-size: 18px;
        }
        @include mobile {
          font-size: 15px;
        }
      }
      .plan-title {
        @include overTablet {
          font-size: 22px;
        }
        @include mobile {
          font-size: 18px;
        }
      }
      .desc {
        @include overTablet {
          font-size: 15px;
          margin-top: 12px;
        }
        @include mobile {
          margin-top: 6px;
        }
      }
      .plan-link {
        color: #3E80DB;
        display: inline-block;
        font-weight: 500;
        @include overTablet {
          margin-top: 15px;
        }
        @include mobile {
          margin-top: 8px;
        }
      }
    }
    .reviewColumn {
      display: grid;
      @include overTablet {
        grid-template-columns: 200px 1fr;
        column-gap: 20px;
      }
      @include mobile {
        grid-template-columns: 140px 1fr;
        column-gap: 12px;
      }
      .title {
        @include overTablet {
          font-size: 18px;
        }
        @include mobile {
          font-size: 15px;
        }
      }
      & > div > .grid {
        @include overTablet {
          margin-top: 8px;
        }
        @include mobile {
          margin-top: 4px;
        }
        .star-review-wrap {
          .fa-star {
            @include overTablet {
              font-size: 22px;
            }
          }
        }
        .message-num-wrap {
          @include overTablet {
            margin-top: 8px;
            margin-bottom: 8px;
          }
          @include mobile {
            margin-top: 4px;
            margin-bottom: 4px;
          }
        }
        .price-time {
          display: flex;
          align-items: center;
          column-gap: 5px;
          .price {
            letter-spacing: 0.05rem;
            line-height: 1;
            margin-top: -3px;
            @include overTablet {
              font-size: 34px;
            }
            @include mobile {
              font-size: 23px;
            }
          }
          & > div {
            span {
              letter-spacing: 0.1rem;
              background-color: #E3E3E3;
              padding: 2px 4px;
              text-align: center;
              border-radius: 2px;
              @include overTablet {
                font-size: 15px;
              }
              @include mobile {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
}


// Slide
.slider {
  width: auto;
  margin: 30px 50px 50px;
}

.slick-slide {
  font-size: 30px;
  text-align: center;
  .container {
    @include mobile {
      padding: 0 !important;
    }
  }
}
.slick-slide img {
  display: inline-block;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-dots {
  bottom: -40px;
}

.g2-slider-pagination__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 17px;
}
#g2-slider-pagination-list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 13px;
}
.g2-slider-pagination__wrapper button{
  padding: 0;
  border: 0;
  background-color: unset;
  font-size: 20px;
  color: $secondary-color;
}
#g2-slider-pagination-list li{
  border-radius: 50%;
  height: 42px;
  width: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #B19D70;
}
#g2-slider-pagination-list li.dot{
  background-color: #E5E1D8;
  color: white;
  font-size: 18px;
}
#g2-slider-pagination-list li.active{
  background-color: #B19D70;
}

// End of Slide


#backToTop {
  display: none;
  div {
    border: 3px solid #ADA6BA;
    background-color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    text-align: center;
    z-index: 999;
    &:hover {
      cursor: pointer;
    }
    @include overTablet {
      width: 63px;
      height: 63px;
      bottom: 17px;
      right: 17px;
      border-radius: 50%;
      font-size: 16px;
      line-height: 17px;
    }
    @include mobile {
      width: 55px;
      height: 55px;
      bottom: 0;
      right: 0;
      font-size: 14px;
      line-height: 16px;
    }
  }
}

.title-wrap {
  .p-section-title {
    position: relative;
    @include overTablet {
      padding-bottom: 40px;
    }
    @include mobile {
      padding-bottom: 30px;
    }
    &::after {
      content: '';
      height: 15px;
      display: block;
      background-image: url('/assets/images/icons/title-border.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      @include overTablet {
        width: 407px;
      }
      @include mobile {
        width: 240px;
      }
    }
  }
}