h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

@media (min-width: 521px) and (max-width: 960px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
}
@media (min-width: 240px) and (max-width: 520px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-wrap: break-word;
  background-color: #F8F8F8;
}

article,
aside,
footer,
header,
nav,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  color: inherit;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
  vertical-align: top;
}

video {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th,
td {
  padding: 4px 6px;
  text-align: left;
  vertical-align: top;
}

blockquote,
q {
  quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
  content: "";
  content: none;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

header {
  background-color: #fff;
  z-index: 9;
}
header.fixed {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
}
@media (max-width: 1024px) {
  header .container {
    max-width: 100% !important;
  }
}

#nav-main {
  padding: 8px 0;
}

@media screen and (min-width: 1201px) {
  .nav-menu .menu-wrap {
    -moz-column-gap: 18px;
         column-gap: 18px;
  }
}
@media screen and (max-width: 1200px) {
  .nav-menu .menu-wrap {
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
  .nav-menu .menu-wrap .primary-btn-brown, .nav-menu .menu-wrap .primary-btn-purple {
    font-size: 16px !important;
  }
}
.nav-menu .menu-wrap a {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.05rem;
  line-height: 21px;
  row-gap: 1px;
}
.nav-menu .menu-wrap a span {
  line-height: 17px;
}
.nav-menu .menu-close-btn {
  display: none;
}
@media (max-width: 1024px) {
  .nav-menu {
    width: 0;
    height: 100vh;
    z-index: 99;
    position: fixed;
    top: 0;
  }
  .nav-menu .menu-mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s linear, height 0s ease 0.3s;
  }
  .nav-menu .menu-close-btn {
    display: none;
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 22px;
    top: 22px;
  }
  .nav-menu .menu-wrap {
    flex-direction: column;
    row-gap: 20px;
    position: fixed;
    max-width: 315px;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    right: 0;
    padding-top: 70px;
    transform: translateX(100%);
    transition: transform 0.3s cubic-bezier(0.9, 0, 0.3, 0.7);
  }
  .nav-menu.open {
    width: 100%;
    margin-left: -15px;
  }
  .nav-menu.open .menu-mask {
    opacity: 1;
  }
  .nav-menu.open .menu-wrap {
    transform: translateX(0);
  }
  .nav-menu.open .menu-close-btn {
    display: block;
    font-size: 20px;
    color: #fff;
  }
}
.nav-menu a:hover {
  text-decoration: none;
  color: #B19D70;
}

.header-login-btn img {
  margin-left: auto;
  margin-right: auto;
}

.header-txt-wrap {
  border-bottom: 1px solid #F8F8F8;
}
.header-txt-wrap .header-txt {
  padding: 8px 0;
}
@media (min-width: 240px) and (max-width: 520px) {
  .header-txt-wrap .header-txt {
    font-size: 9px;
  }
}

.burger-wrap .target-burger {
  background-color: transparent;
  position: relative;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  width: 28px;
  height: 26px;
}
.burger-wrap .buns {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.burger-wrap .buns .bun {
  width: 100%;
  height: 2px;
  display: block;
  background-color: #333;
}
.burger-wrap .buns .bun:not(:first-of-type) {
  margin-top: 10px;
}

.header-logo a {
  display: block;
}
@media (min-width: 240px) and (max-width: 520px) {
  .header-logo {
    max-width: 180px;
  }
}

@media (min-width: 961px) {
  .container {
    max-width: 1310px !important;
  }
}

.container-inner {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.m-top-btn-wrap {
  border-bottom: 1px solid #E2E2E2;
  padding-bottom: 25px;
}
@media (min-width: 961px) {
  .m-top-btn-wrap {
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 15px;
    padding-top: 20px;
  }
}
@media (min-width: 521px) and (max-width: 960px) {
  .m-top-btn-wrap {
    row-gap: 15px;
    -moz-column-gap: 15px;
         column-gap: 15px;
    padding-top: 0px;
  }
}
@media (min-width: 240px) and (max-width: 520px) {
  .m-top-btn-wrap {
    -moz-column-gap: 10px;
         column-gap: 10px;
    row-gap: 10px;
    padding-top: 0px;
  }
}
@media (min-width: 240px) and (max-width: 520px) {
  .m-top-btn-wrap .outline-btn {
    padding: 8px 12px;
    font-size: 15px;
  }
}
@media screen and (max-width: 400px) {
  .m-top-btn-wrap .outline-btn {
    font-size: 13px;
    padding: 7px 10px;
  }
}

@media (min-width: 961px) {
  .main-col {
    margin-top: 48px;
  }
}
@media (min-width: 521px) and (max-width: 960px) {
  .main-col {
    margin-top: 40px;
  }
}
@media (min-width: 240px) and (max-width: 520px) {
  .main-col {
    margin-top: 30px;
  }
}

footer {
  background-color: #9F8E9F;
  color: #fff;
}
@media (min-width: 961px) {
  footer {
    margin-top: 120px;
  }
}
@media (min-width: 521px) and (max-width: 960px) {
  footer {
    margin-top: 80px;
  }
}
@media (min-width: 240px) and (max-width: 520px) {
  footer {
    margin-top: 60px;
  }
}

.c-copyright {
  line-height: 27px;
  margin-top: 15px;
}

.footer-nav-2 {
  padding: 20px 0 15px;
}
@media (min-width: 521px) {
  .footer-nav-2 {
    letter-spacing: 2px;
  }
}
@media (min-width: 240px) and (max-width: 520px) {
  .footer-nav-2 {
    letter-spacing: 0.5px;
    padding-top: 0;
  }
}
@media (min-width: 521px) {
  .footer-nav-2 nav {
    display: flex;
  }
}
@media (min-width: 240px) and (max-width: 520px) {
  .footer-nav-2 nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.footer-nav-2 nav .footer-nav-2-link {
  display: inline-block;
  padding: 0 10px;
  line-height: 1;
}
@media (min-width: 521px) {
  .footer-nav-2 nav .footer-nav-2-link:not(:first-of-type) {
    border-left: 1px solid #fff;
  }
}
@media (min-width: 240px) and (max-width: 520px) {
  .footer-nav-2 nav .footer-nav-2-link {
    padding: 10px 0;
    border-top: 1px solid #C9BFCA;
  }
  .footer-nav-2 nav .footer-nav-2-link:nth-of-type(2n+1) {
    border-right: 1px solid #C9BFCA;
  }
  .footer-nav-2 nav .footer-nav-2-link:nth-last-of-type(2), .footer-nav-2 nav .footer-nav-2-link:last-of-type {
    border-bottom: 1px solid #C9BFCA;
  }
}

@media (min-width: 521px) {
  .footer-nav-1 {
    border-bottom: 1px solid #DBCCDD;
  }
}
.footer-nav-1 .container {
  padding-top: 60px;
  padding-bottom: 40px;
}
@media screen and (min-width: 521px) and (max-width: 1200px) {
  .footer-nav-1 .container {
    max-width: 100% !important;
  }
}
@media (max-width: 960px) {
  .footer-nav-1 .container {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}
.footer-nav-1 .container > .grid {
  grid-template-columns: 1fr 2fr;
}
@media screen and (min-width: 961px) and (max-width: 1200px) {
  .footer-nav-1 .container > .grid {
    grid-template-columns: 1fr 2.2fr;
  }
}
@media (max-width: 960px) {
  .footer-nav-1 .container > .grid {
    grid-template-columns: 1fr;
    row-gap: 25px;
  }
}
.footer-nav-1 .container > .grid .p-footer-nav {
  justify-content: space-between;
}
@media (min-width: 240px) and (max-width: 520px) {
  .footer-nav-1 .container > .grid .p-footer-nav {
    flex-direction: column;
    row-gap: 20px;
  }
}
.footer-nav-1 .container > .grid .p-footer-nav .footer-nav-label {
  color: #fff;
  display: block;
  font-weight: 600;
  font-size: 16px;
  padding-left: 20px;
  position: relative;
}
.footer-nav-1 .container > .grid .p-footer-nav .footer-nav-label:not(:last-of-type) {
  margin-bottom: 20px;
}
.footer-nav-1 .container > .grid .p-footer-nav .footer-nav-label::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4.5px 0 4.5px 7.8px;
  border-color: transparent transparent transparent #ffffff;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.footer-nav-1 .container > .grid .p-footer-nav .menu-item:not(:last-child) {
  margin-bottom: 8px;
}
.footer-nav-1 .container > .grid .p-footer-nav .menu-item a {
  color: #fff;
}

.f-menu-wrap {
  margin-left: 20px;
}
.f-menu-wrap .f-menu-wrap-label {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 25px;
}

.footer-logo a {
  display: inline-block;
}
@media (min-width: 521px) and (max-width: 960px) {
  .footer-logo > a img {
    height: auto;
  }
}

.u-hover-scale {
  transition: all 0.5s ease 0s;
  transform: scale(1, 1);
}
.u-hover-scale:hover {
  transform: scale(1.2, 1.2);
}

.u-hover-opacity {
  transition: all 0.5s ease 0s;
  opacity: 1;
}
.u-hover-opacity:hover {
  opacity: 0.8;
}

.u-hover-up {
  transition: all 0.5s ease 0s;
  transform: translate(0, 0);
}
.u-hover-up:hover {
  transform: translate(0, -0.3em);
}

.u-hover-down {
  transition: all 0.5s ease 0s;
  transform: translate(0, 0);
}
.u-hover-down:hover {
  transform: translate(0, 0.3em);
}

.u-hover-rotate-x {
  transition: all 0.5s ease 0s;
  transform: rotateX(0);
}
.u-hover-rotate-x:hover {
  transform: rotateX(360deg);
}

.u-hover-rotate-y {
  transition: all 0.5s ease 0s;
  transform: rotateY(0);
}
.u-hover-rotate-y:hover {
  transform: rotateY(360deg);
}

.u-hover-rotate-z {
  transition: all 0.5s ease 0s;
  transform: rotate(0);
}
.u-hover-rotate-z:hover {
  transform: rotateZ(360deg);
}

@media (min-width: 961px) {
  .u-pc-show {
    display: block;
  }
}
@media (max-width: 1024px) {
  .u-pc-show {
    display: none;
  }
}

@media (min-width: 521px) {
  .u-sp-show {
    display: none;
  }
}
@media (min-width: 240px) and (max-width: 520px) {
  .u-sp-show {
    display: block;
  }
}

@media (min-width: 961px) {
  .u-tab-sp-show {
    display: none;
  }
}
@media (max-width: 1024px) {
  .u-tab-sp-show {
    display: block;
  }
}

.u-overhidden {
  overflow: hidden;
}

.u-hidden {
  display: none !important;
}

.u-clearfix::before, .u-clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.u-br {
  border-radius: 6px;
}

.u-brm {
  border-radius: 8px;
}

.u-brl {
  border-radius: 12px;
}

.u-mrs {
  margin-right: 10px;
}

.u-py-00 {
  padding-top: 1px;
  padding-bottom: 1px;
}

@media (min-width: 521px) {
  .mt-30 {
    margin-top: 30px;
  }
}
@media (min-width: 240px) and (max-width: 520px) {
  .mt-30 {
    margin-top: 20px;
  }
}

@media (min-width: 521px) {
  .mb-30 {
    margin-bottom: 30px;
  }
}
@media (min-width: 240px) and (max-width: 520px) {
  .mb-30 {
    margin-bottom: 20px;
  }
}

@media (min-width: 521px) {
  .mt-60 {
    margin-top: 60px;
  }
}
@media (min-width: 240px) and (max-width: 520px) {
  .mt-60 {
    margin-top: 30px;
  }
}

.u-large-text-size {
  font-size: 26px;
}

.u-font-xsmall {
  font-size: 11px;
  font-weight: 400;
}

.u-font-bold {
  font-weight: 700;
}

.u-font-small {
  font-size: 16px;
}

.u-font-base {
  font-size: 14px;
  font-weight: 400;
}

.u-border-top-1px {
  border-top: 1px solid #eee;
}

.u-font-noto-sans-jp {
  font-family: "Noto Sans JP", sans-serif;
}

.u-font-helvetica-neue, .u-en {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (min-width: 521px) and (max-width: 960px) {
  .u-large-text-size {
    font-size: 24px;
  }
}
@media (min-width: 240px) and (max-width: 520px) {
  .u-large-text-size {
    font-size: 22px;
  }
}
.p-main-title {
  color: #312200;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.05rem;
}
@media (min-width: 961px) {
  .p-main-title {
    font-size: 30px;
    margin-bottom: 45px;
  }
}
@media (min-width: 521px) and (max-width: 960px) {
  .p-main-title {
    font-size: 28px;
    margin-bottom: 36px;
  }
}
@media (min-width: 240px) and (max-width: 520px) {
  .p-main-title {
    font-size: 24px;
    margin-bottom: 25px;
  }
}

.p-article-title {
  color: #312200;
  letter-spacing: 0.05rem;
  font-weight: 500;
}
@media (min-width: 521px) {
  .p-article-title {
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 8px;
  }
}
@media (min-width: 240px) and (max-width: 520px) {
  .p-article-title {
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}
.p-article-title a:hover {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 961px) {
  .grid-lg-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 521px) and (max-width: 960px) {
  .grid-md-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 240px) and (max-width: 520px) {
  .grid-sm-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

.primary-btn-purple {
  background-color: #CBBFCB;
  padding: 15px;
  border-radius: 5px;
  font-size: 18px !important;
  line-height: 26px !important;
  font-weight: 600;
  color: #fff;
  display: block;
  text-align: center;
}
.primary-btn-purple:hover {
  outline: none;
  opacity: 0.8;
  color: #fff !important;
  text-decoration: none;
}
.primary-btn-purple.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.primary-btn-brown {
  background-color: #B19D70;
  padding: 15px;
  border-radius: 5px;
  font-size: 18px !important;
  line-height: 26px !important;
  letter-spacing: 0.05rem;
  font-weight: 600;
  color: #fff !important;
  display: block;
  text-align: center;
}
.primary-btn-brown:hover {
  outline: none;
  opacity: 0.8;
  color: #fff;
  text-decoration: none;
}
.primary-btn-brown.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.outline-btn {
  color: #333;
  padding: 12px 50px;
  border-radius: 5px;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.1rem;
  font-weight: 400;
  background-color: #fff;
  display: inline-block;
  text-align: center;
  border: 1px solid #E2E2E2;
}
.outline-btn:hover {
  outline: none;
  background-color: #CDBC95;
  color: #fff;
  text-decoration: none;
}
.outline-btn.disabled {
  pointer-events: none;
  background-color: #C9BFCA;
  color: #A0A0A0;
  border-color: #C9BFCA;
}
.outline-btn.active {
  color: #fff;
  background-color: #CDBC95;
}

.add-btn {
  color: #333;
  background-color: #F2F1F0;
  border-radius: 5px;
  text-decoration: none;
  padding: 6px 10px 6px 30px;
  font-size: 14px;
  line-height: 15px;
  font-weight: 700;
  background-image: url("../images/icons/plus.png");
  background-size: 15px 15px;
  background-position: 10px center;
  background-repeat: no-repeat;
}
.add-btn:hover {
  text-decoration: none;
  color: #333;
  background-color: #ddd;
}

/*--------------------
Form
--------------------*/
.form fieldset {
  border: none;
  padding: 0;
  margin: 12px 0;
  position: relative;
  font-size: 0;
}
.form fieldset .c-error-alert {
  font-size: 11px;
}
.form fieldset input {
  width: 100%;
  height: 40px;
  color: rgb(51, 51, 51);
  padding: 9px;
  border-radius: 5px;
  outline: none !important;
  border: 1px solid rgba(0, 0, 0, 0.3);
  vertical-align: top;
  font-size: 14px;
}
.form fieldset input[type=text]:focus {
  border-color: #B19D70;
}
.form fieldset input[type=text].date-picker {
  width: 150px;
  position: relative;
  background-image: url("../images/icons/calendar.png");
  background-repeat: no-repeat;
  background-position: 119px 9px;
}
.form fieldset input::-moz-placeholder {
  color: #8D8D8D;
}
.form fieldset input::placeholder {
  color: #8D8D8D;
}
.form fieldset p, .form fieldset label, .form fieldset textarea, .form fieldset select {
  font-size: 14px;
}
.form fieldset .checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 25px;
  line-height: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.form fieldset .checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #C9BFCA;
  border-radius: 4px;
}
.form fieldset .checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}
.form fieldset .checkbox:hover input:not(:disabled) ~ .checkmark {
  background-color: #f5f5f5;
}
.form fieldset .checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 0;
  height: 0;
}
.form fieldset .checkbox input:checked ~ .checkmark {
  background-color: #B19D70 !important;
  border: none;
}
.form fieldset .checkbox input:checked ~ .checkmark::after {
  display: block;
  left: 7px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.form fieldset .checkbox.u-disabled {
  cursor: context-menu;
}
.form fieldset .radio {
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 25px;
  line-height: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.form fieldset .radio .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #C9BFCA;
  border-radius: 50%;
}
.form fieldset .radio .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}
.form fieldset .radio:hover input:not(:disabled) ~ .checkmark {
  background-color: #f5f5f5;
}
.form fieldset .radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 0;
  height: 0;
}
.form fieldset .radio input:checked ~ .checkmark {
  background-color: #B19D70 !important;
  border: none;
}
.form fieldset .radio input:checked ~ .checkmark::after {
  display: block;
  left: 2px;
  top: 2px;
  width: 16px;
  height: 16px;
  border: solid #fff;
  border-width: 2px;
  background-color: #B19D70;
  border-radius: 50%;
}
.form fieldset .radio.u-disabled {
  cursor: context-menu;
}

.c-input-error {
  border-color: #B61E00 !important;
}

.c-error-alert {
  color: #B61E00;
}

label {
  display: block;
}

textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  position: relative;
}
textarea:focus {
  outline: none;
  border-color: #B19D70;
}
textarea ~ .c-letter-num {
  font-size: 11px !important;
  position: absolute;
  right: 0;
  bottom: 0;
}

select {
  padding: 9px;
  border-radius: 5px;
  border: 1px solid #C9BFCA;
  max-width: 360px;
  width: 100%;
  height: 40px;
}
select:focus {
  outline: none;
  border-color: #B19D70;
  background-color: #f2f7f7;
}
select:hover:not(:disabled) {
  border-color: #B19D70;
  cursor: pointer;
}

.ui-datepicker-calendar .day-sunday > a,
.ui-datepicker-calendar .day-holiday > a {
  background: #ffc0c0;
}

.ui-datepicker-calendar .day-saturday > a {
  background: #c0d0ff;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  background-color: #003eff !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  color: red;
}

.breadcrumb-wrap .breadcrumb {
  margin-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 521px) {
  .breadcrumb-wrap .breadcrumb {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (min-width: 961px) {
  .breadcrumb-wrap .container {
    max-width: 1310px !important;
  }
}
@media (max-width: 1024px) {
  .breadcrumb-wrap .container {
    max-width: 100% !important;
  }
}

@media (min-width: 961px) {
  .articles.grid {
    gap: 20px;
  }
}
@media (min-width: 521px) and (max-width: 960px) {
  .articles.grid {
    gap: 15px;
  }
}
@media (min-width: 240px) and (max-width: 520px) {
  .articles.grid {
    gap: 10px;
  }
}
.articles .article {
  border: 1px solid #E2E2E2;
}
@media (min-width: 961px) {
  .articles .article {
    padding: 20px;
  }
}
@media (min-width: 521px) and (max-width: 960px) {
  .articles .article {
    padding: 15px;
  }
}
@media (min-width: 240px) and (max-width: 520px) {
  .articles .article {
    padding: 12px;
  }
}
.articles .article .img-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition-duration: 0.35s;
}
.articles .article a img {
  transform: scale(1);
  transition-property: opacity scale transform;
  transition-duration: 0.35s;
}
.articles .article a:hover img {
  transform: scale(1.05);
}

.star-review-wrap {
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.star-review-wrap .fa-star {
  color: #E5E1D8;
  font-size: 18px;
}
.star-review-wrap .fa-star.checked {
  color: #B19D70;
}
.star-review-wrap .review-mark {
  font-size: 12px;
  color: #ACACAC;
}

.heart-btn {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

.message-num-wrap {
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.message-num-wrap .message-num {
  font-size: 12px;
  color: #312200;
  letter-spacing: 0.05rem;
  line-height: 14px;
}

@media (min-width: 521px) {
  .meta-tags {
    margin-top: 15px;
    margin-bottom: 15px;
    gap: 10px;
  }
}
@media (min-width: 240px) and (max-width: 520px) {
  .meta-tags {
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 5px;
  }
}
.meta-tags .meta-tag .meta {
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.1rem;
  padding: 2px 4px;
  border-radius: 2px;
  color: #BABABA;
  background-color: #E8E8E8;
}
.meta-tags .meta-tag .meta.cat-own {
  background-color: #CBBFCB;
  color: #fff;
}
.meta-tags .meta-tag .meta:hover {
  text-decoration: none;
}

.c-view-more-btn {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 521px) {
  .c-view-more-btn {
    max-width: 339px;
    padding-top: 18px;
    padding-bottom: 18px;
  }
}
@media (min-width: 240px) and (max-width: 520px) {
  .c-view-more-btn {
    max-width: 270px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}/*# sourceMappingURL=style.css.map */