.u-pc-show {
  @include desktop {
    display: block !important;
  }
  @media screen and (max-width: 960px) {
    display: none !important;
  }
}

.u-sp-show {
  @include overTablet {
    display: none !important;
  }
  @include mobile {
    display: block !important;
  }
}

.u-pc-tab-show {
  @include overTablet {
    display: block !important;
  }
  @include mobile {
    display: none !important;
  }
}

.u-tab-sp-show {
  @include desktop {
    display: none !important;
  }
  @include underDesktop {
    display: block !important;
  }
}

.u-overhidden {
  overflow: hidden;
}

.u-hidden {
  display: none !important;
}